.applyPage .col h1 {
    font-size: 24px !important;
    text-align: center;
}

.applyPage .gridContainer .buttonWrapper{
    margin-bottom: 2em
}

.applyPage .subHeading {
    font-size: 18px !important
}

@media screen and (min-width: 768px) {
    .applyPage .col h1 {
        font-size: 24px !important;
        text-align: left;
    }
}