// .homePage .primary__hero-body {
//   font-style: italic;
// }

#services .primary__hero-img-multi{
  display: flex;
  img {
    max-width: 50%;
  }
}


#follow .col{
  flex: 0;
  flex-basis: 40% !important 
}
