$navy: #2A3240;


// .portfolioComponent{
//     margin-top: 28em;
// }


// Fix: Remove when OCRCC ready
.portfolioRow{
    justify-content: space-between !important;
}

.portfolioContainer{
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}

.portfolioColumn{
    max-width: 500px !important;
    margin-bottom: 2em !important;
}

.portfolio-item-wrapper{
    position: relative;
    // width: 50%
}

.portfolio-item-image{
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-item-overlay{
    background: rgba(42, 50, 64, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    &:hover{
        opacity: 0;
        cursor: pointer !important;
    }
}

.portfolio-item-title{
    color: #ffffff;
    font-family: "SourceCodePro";
    font-size: 24px;
    text-align: center;
    margin-top: 4em;
}

.portfolio-item-date{
    color: #ffffff;
    text-align: center    
}

.workTogether{
    max-width: 90%;
    margin: 1em auto 2em auto;
    font-size: 16px;
    line-height: 32px;
    color: $navy
}

@media screen and (min-width:768px) {
    .workTogether{
        max-width: 50%;
    }
}