.portfolioIntro{
    margin-top: 30em;
}

.portfolioDate{
    text-align: center;

}

.organizationLogo{
    margin: 0 5em 5em 0;
}

.clientName{
    text-align: right;
}

.introRow{
    display: flex;
    flex-direction: row;
    padding: 0 5em;
    // width: 100%;
    + .introRow{
        background-color: #C9D5D6;
    }
}

.introServices{
    display: flex;
    width: 50%;
    flex-direction: column;
    font-size: 23px;
    line-height: 32px;
    margin: 2em 0;
    p {
        margin: 0 !important
    }
    ul {
        padding-inline-start: 20px;
    }
}

.introParagraph{
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 32px;
    text-align: left;
    width: 100%;
}

.portfolioTestimonial{
    width: 50%;
    margin-top: 2em;
    font-size: 15px;
    line-height: 28px;
    // display: flex;
    font-style: italic;
}

@media screen and (min-width:850px) {
    .introServices{
        display: flex;
    }

    .introParagraph{
        // flex-basis: 80%;
        font-size: 23px;
    }

    .portfolioTestimonial{
        font-size: 20px
    }
}