.HomeBanner {
    background: url("../../banners/homeBanner.png");
    min-height: 40em;
    background-position: 50% 80%;
    background-size:cover;
    position: absolute;
    top: 0;
    width: 100%;
    
}

.AboutBanner {
    background: url("../../banners/secondaryBanner.png");
    min-height: 30em;
    background-position: 50% 80%;
    background-size: cover ;
    position: absolute;
    top: 0;
    width: 100%
}

.PortfolioBanner {
    background: url("../../banners/secondaryBanner.png");
    background-size: cover;
    min-height: 30em;
    background-position: 50% 80%;
    position: absolute;
    top: 0;
    width: 100%;    
}

.ProjectsBanner {
    background: url("../../banners/secondaryBanner.png");
    background-size: cover;
    min-height: 30em;
    background-position: 50% 80%;
    position: absolute;
    top: 0;
    width: 100%;    
}

.ApplyBanner {
    background: url("../../banners/secondaryBanner.png");
    background-size: cover;
    min-height: 30em;
    background-position: 50% 80%;
    position: absolute;
    top: 0;
    width: 100%; 
}

.EventsBanner {
    background: url("../../banners/secondaryBanner.png");
    background-size: cover;
    min-height: 30em;
    background-position: 50% 80%;
    position: absolute;
    top: 0;
    width: 100%; 
}

.ContactBanner {
    background: url("../../banners/secondaryBanner.png");
    background-size: cover;
    min-height: 30em;
    background-position: 50% 80%;
    position: absolute;
    top: 0;
    width: 100%; 
}

.BannerImage {
    position: relative;
    max-height: 30em;
    object-fit: none;
    object-position: 50% 30%;
}

.BannerTitle {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #ffffff;
}

.BannerDescription {
    position: absolute;
    top: 53%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    text-align: center;
    color: #ffffff;
}

.AboutBanner{
    .BannerDescription{
        top: 55%;
    }
}
.StaffBanner{
    .BannerDescription{
        top: 55%;
    }
}

.AboutBanner .BannerDescription, .StaffBanner .BannerDescription {
    width: 80%;
}

@media screen and (max-width: 1300px) {
    .AboutBanner .BannerDescription, .StaffBanner .BannerDescription{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1100px) {
    .BannerTitle {
        font-size: 1.7em;
        width: 100%;
    }

    .BannerDescription{
        width: 95% !important;
    }
}

@media screen and (max-width: 500px) {
    .AboutBanner .BannerDescription, .StaffBanner .BannerDescription{
        font-size: 0.7em;
    }

}
