// Define Site Colour Variables
$peach: #fab96c;
$yellow: rgba(255, 209, 5, 0.65);
$purple: rgba(102, 45, 145, 0.65);
$lime: #e0e98f;
$pink: rgba(237, 28, 36, 0.65);
$grey: #c4c4c4;

$navy: #2A3240;
$teal: #C9D5D6;
$peach: #D97D6C;
$grey: #DFD8D5;
$black: #000000;
$white: #ffffff;


/* PrimaryComponent Strip Wrapper*/
.primary__hero-section {
  color: #fff;
  padding: 2em 0;
  margin-top: 25em;
}

.homePage .primary__hero-section {
  margin-top: 35em;
}

.primary__hero-section ~ .primary__hero-section, .gridComponent ~ .primary__hero-section, .eventSection ~ .primary__hero-section {
  margin-top: -2.1em;
  // margin-top: 0;
}

/* Wrapper for PrimaryComponent sections */
.primary__hero-row {
  align-items: center;
}

.row {
  display: flex;

  flex-wrap: wrap;
  align-items: stretch;
}
.programsRow{
  flex-direction: column-reverse !important;
}

// Fix: COL MAX WIDTH
/* PrimaryComponent Columns */
.col {
  display: flex;
  margin: 0 auto 1em auto;
  flex: 1;
  flex-basis: 40%;
}

.column {
  margin: auto;
  display: flex;

  p{
    width:100%
  }
}

/* PrimaryComponent Text Section*/
.primary__hero-text-wrapper, .primary__hero-text-wrapper-paragraph {
  padding-top: 0;
//   max-width: 90%;
}


/* PrimaryComponent Header - changed by props (Default: white) */
.heading {
//   margin-bottom: 2em;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 600;
  color: #ffffff;
}

.subHeading {
  font-size: 23px;
  margin-bottom: 1em;
}

.top-line {
  display: block;
  font-size: 36px;
  padding-top: 1.5em;
  text-align: center;
}

.primary__hero-body {
  max-width: 100%;
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 1em 0;
  text-align: justify;  
}

/* Conditional bold styling based on props*/
.bold {
  font-weight: 900;
  color: black;
}

/* Conditional italic styling based on props*/
.home-ital {
  font-style: italic;
}

/* Dark font colour applied based on props */
.dark {
  color: black !important;
}

// Site colours applied based on props

.navy {
  background-color: $navy;
}
.teal {
  background-color: $teal;
}
.peach {
  background-color: $peach;
  color: $white;
}
.grey {
  background-color: $grey;
}
.black {
  background-color: $black;
}
.white {
  background-color: $white;
}


// Site colours - END

/* Goals List */
li p {
  color: black;
  font-weight: 550;
  padding: 0;
  margin: 0;
}


.styledList {
  text-align: left !important;
}

/* Goals List Styling (Rainbow)*/
.li0 {
  color: #000000;
  &::marker {
    font-family: "AvenirBook";
    content: "Commitment.";
    font-size: 1em;
  }
}
.li1 {
  color: #000000;
  &::marker {
    font-family: "AvenirBook";
    content: "Team Work.";
    font-size: 1em;
    margin-right: 1em;
  }
}
.li2 {
  color: #000000;
  &::marker {
    font-family: "AvenirBook";
    content: "Excellence.";
    font-size: 1em;
  }
}
.li3 {
  color: #000000;
  &::marker {
    font-family: "AvenirBook";
    content: "Passion.";
    font-size: 1em;
  }
}
/* List Styling End */

/* PrimaryComponent with Single Image */
.primary__hero-img-single {
  margin: auto;
  text-align: center;
  /* Styling for non-staff single-picture in PrimaryComponent */
  .primary__pic-img {
    max-width: 90%;
    max-height: 400px;
    border-radius: 18px;
    margin-top: 1em !important;
    display: block;
    margin: 0;
  }
}
/* PrimaryComponent with Multiple Images */
.primary__hero-img-multi {
  max-width: 350px;
  // text-align: center;
  margin: 1em auto 0 auto;
  /* Styling for non-staff multi-picture in PrimaryComponent */
  .primary__pic-img {
    max-width: 90%;
    max-height: 200px;
    border-radius: 18px;
    margin-top: 1em !important;
    display: block;
    margin: auto;
  }
}

.primary__pic-background{
  position: absolute;
}

.primary__pic-img {
  border-radius: 18px;
}

/* Wrapper for Logo */
.primary__hero-img {
  max-width: 50%;
  max-height: 400px;
  margin: 1em 0 1em 0;
}

/* Default img styling */
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* Staff image styling for PrimaryComponent*/
.primary__pic-link {
  max-height: 60px;
  display: block;
  margin: auto;
}

// Picture Heading/Subtitle Styling
.pictureHeading,
.pictureSubtitle {
  color: #ffffff;
}

.pictureHeading {
  font-weight: 800;
  text-align: center;
}

.pictureSubtitle {
  margin-bottom: 1em;
  line-height: 28px;
  text-align: justify;
  max-width: 70%;
  margin: auto;
}

.buttonWrapper {
  margin-top: 2em;
  text-align: center;
}

.primaryFooter{
  color: $peach;
  font-family: "AvenirBook";
  text-align: center;
  margin-bottom: 0;
}

// Modal Breakpoints - Mobile First (TYBG)
@media screen and (min-width: 768px) {

  .heading{
    margin-top: 0;

  }
  
  .programsRow {
    flex-direction: row !important;
  }

  .col{
    justify-content: center;
  }
  
  .col .primary__hero-text-wrapper {
      max-width: 90%;
      margin: auto 0;
  }
  .col .primary__hero-text-wrapper-paragraph {
      // max-width: 70%;
      margin: auto;
      margin-top: 2.5em;
  }
  .primary__hero-img-multi {
    margin: 0 1em 0 1em;
  }
}


/* Screen sizes below 1000px */
@media screen and (max-width: 1000px) {
  .container, .navbar-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

/* Screen sizes below 768px */
@media screen and (max-width: 768px) {
  .primary__hero-section {
    text-align: center;
  }
  .primary__hero-img {
    margin: 1em auto 1em auto;
  }
  .primary__pic-img {
    margin: 1em auto 1em auto !important;
  }

  .col {
    max-width: 100%;
    min-width: 100%;
    display: block;
    margin: 0 0 2em 0;
  }

  #homeFollow .col, #contactFollow .col{
    display: flex !important
  }
}

