.portfolioHeader{
    font-weight: 700;
    font-family: "SourceCodePro";
    margin: 2em 0;
}

.multiImgWrapper {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  max-height: 250px;
}

.center {
  justify-content: center;
  .thirdImg {
    margin: 0 2em;
  }
}

.halfImg {
  max-width: 48%;
  // max-height: 250px;
}

.thirdImg {
  max-width: 30%;
  // max-height: 250px;
}

.quarterImg {
  max-width: 20%;
  // max-height: 250px;
  // height: 50%;
}

.rectangleImg {
  height: 50%;
  margin-top: 3em;
}

.ochLogoConcept {
  max-height: 290px;
}

.finalLogo {
  max-width: 360px;
}

.citadelLogo {
  max-width: 250px;
  margin: 1em 0 3em 0;
}

.blockGraphic {
  display: block;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .citadelLogo {
    max-width: 400px !important;
  }
  .halfImg, .thirdImg, .quarterImg, {

  }
  
  .multiImgWrapper{
    max-height: 700px;
  }
}
