.projectSectionTopline {
    // max-width: 80%;
    // margin-right: auto;
    // margin-left: auto;
}

.citadelLogo{
    max-width: 600px;
    margin: 1em 0 3em 0;
}

.multiImgWrapper{
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
}

.halfImg{
    max-width: 48%;  
}

.thirdImg{
    max-width: 30%;
}