.portfolioHeader{
    font-weight: 700;
    font-family: "SourceCodePro";
    margin: 2em 0;
}

.multiImgWrapper {
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.center {
  justify-content: center;
  .thirdImg {
    margin: 0 2em;
  }
}

.halfImg {
  max-width: 48%;
  max-height: 250px;
}

.thirdImg {
  max-width: 30%;
  max-height: 250px;
}

.quarterImg {
  max-width: 20%;
  max-height: 250px;
  // height: 50%;
}

.rectangleImg {
  height: 65px;
  margin: auto 0;
}

.ochLogoConcept {
  max-height: 350px !important;
}

.finalLogo {
  max-width: 360px;
}

.citadelLogo {
  max-width: 250px;
  margin: 1em 0 3em 0;
}

.blockGraphic {
  display: block;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .citadelLogo {
    max-width: 400px !important;
  }
  .halfImg, .thirdImg, .quarterImg {
    max-height: 700px;
  }
  
  .multiImgWrapper{
    max-height: 700px;
  }

  .rectangleImg{
    height: 85px;
  }
}

@media screen and (min-width: 1024px) {
  .rectangleImg{
    height: 105px;
  }
}

@media screen and (min-width: 1224px) {
  .rectangleImg{
    height: 125px;
  }
}

@media screen and (min-width: 1824px) {
  .rectangleImg{
    height: 145px;
  }
}
