$navy: #2A3240;
$teal: #C9D5D6;
$peach: #D97D6C;
$grey: #DFD8D5;
$black: #000000;
$white: #ffffff;

.staff-card {
    justify-content: center;
    text-align: center;
    min-width: 100%;
    margin: 0;
    margin-bottom: 1em;
}

.staff-card:nth-child(odd){
    background-color: #ffffff;
}

.staff-profile {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 1.5em;
}

.staff-position {
    margin-top: 0;
}

.teamLink{
    position: relative;
    width: 100%;
}

.teamLink:hover .staff-profile{
    opacity: 0.3;        
}
.teamLink:hover .linkOverlay{
    opacity: 1;     
}

.linkOverlay{
    background: rgba(42, 50, 64, 0.6);
    width: 100%;
    height: 200px;
    border-radius: 50%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
    margin: auto;
}

.linkedOverlay{
    width: 25%;
    position: relative;
    top: 35%;
}

@media screen and (max-width: 560px) {

}


@media screen and (min-width: 784px) {
    .staff-card {
        min-width: calc(100%/4) !important;
        background-color: inherit !important;
    }
}

@media screen and (min-width: 1000px) {
    .staffModal{
        max-width: 50%;
    }
}
@media screen and (min-width: 1300px) {
    .staffModal{
        max-width: 40%;
    }
}


