.gridComponent{
    padding: 5em 0;
}

.gridContainer {
    z-index: 1;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

.gridRow{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.gridColumn{
    display: flex;
    flex-basis: 100%;
    max-width: 340px;
}

.gridImg{

    max-width: 100px;
    display: flex;
    margin: auto 0;
    max-height: 90px
}

.columnText{
    margin: auto 0;
    max-width: 340px;
    min-height: 240px;
}

.columnTitle{
    font-weight: 900;
    font-family: "AvenirBook";
    text-align: center;
    margin: 1em 0;
}

.columnBody{
    font-family: "AvenirRoman";
    line-height: 28px;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .gridRow{
        flex-direction: row;
        // justify-content: space-evenly;
    }
}

@media screen and (max-width: 1000px) {
    .gridContainer {
      padding-right: 30px;
      padding-left: 30px;
    }
  }