.gridComponent{
    padding-bottom: 2em;
    margin-top: -2.1em;
}

.gridRow{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.gridColumn{
    display: flex;
    flex-basis: 100%;
    flex: 1;
    max-width: 340px;
}

.gridImg{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-width: 100px;
    display: flex;
    margin: auto 0;
}

.columnText{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: auto 0;
    max-width: 340px;
}

.columnTitle{
    font-weight: 900;
    font-family: "AvenirBook";
    text-align: center;
    margin-bottom: 1em;
}

.columnBody{
    font-family: "AvenirRoman";
    line-height: 28px;
    text-align: justify;
}


@media screen and (min-width: 768px) {
    .gridRow{
        flex-direction: row;
    }
}